<!DOCTYPE html>
<html ng-app="quizApp" class="yui3-js-enabled">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">

    <title></title>

    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/concise.min.css" />

</head>
<body ng-controller="QuestionCtrl">

<div class="container">

    <div class="row bg-light-blue">
        <div class="column-12">
            <h2>Quizzy</h2>

            <h3>Legg til flere kategorier</h3>
            <form ng-submit="add_category()">
                    <input placeholder="Kategori" ng-model="category_name" type="text" />
                    <button type="submit">Legg til kategori</button>
            </form>
            <p ng-model="status"></p>
        </div>
        <div class="column-4 gutters">
            <a href="">Quizzy</a>
            <ul>
                <li><a class="pure-menu-link" href="/quizadmin/{{quiz.quiz}}">Admin</a></li>
                <li><a class="pure-menu-link" href="/quiz/{{quiz.id}}">Se quiz</a></li>
            </ul>
        </div>
    </div>

    <div class="row bg-light-yellow">
        <div class="column-4" ng-repeat="category in quiz.categories">

            <h2>{{category.name}}</h2>

            <p>Spørsmål:</p>
            <ol>
                <li ng-repeat="question in category.questions">
                    <p>{{question.question}}</p>
                    <ol type="a" ng-show="question.alternatives != null">
                        <li ng-repeat="alternative in question.alternatives">
                            {{alternative}}
                        </li>
                    </ol>
                    <p>Fasit: {{question.answer}}</p>
                </li>
            </ol>
            <h3>Legg til flere spørsmål</h3>
            <form class="form-inline" ng-submit="add_question(category.name)">
                <div class="form-item">
                    <label for="question">Spørsmål: </label>
                    <textarea class="column-16" autocomplete="off" id="question" type="text" ng-model="question"></textarea>
                </div>

                <fieldset>
                    <form class="form" ng-submit="add_alternative()">
                        <div class="form-item">
                            <label for="alternative">Alternativ: </label>
                            <input type="hidden" value="{{category}}" name="category" />
                            <input class="column-16" autocomplete="off" id="alternative" type="text" ng-model="alternative" />
                            <button type="button" ng-click="add_alternative(alternative)" class="column-16" type="submit">Legg til alternativ</button>
                        </div>
                    </form>
                </fieldset>

                <ul ng-show="alternatives[category.name].length > 0" type="a">
                    <li ng-repeat="alternative in alternatives[category.name]">{{alternative}}</li>
                </ul>
                <button class="pure-button pure-button-primary" ng-show="alternatives.length > 0" ng-click="clear_alternatives(category.name)">Slett alternativer</button><br /><br/>

                <div class="form-item">
                    <label for="answer">Svar: </label>
                    <input class="column-16" autocomplete="off" id="answer" type="text" ng-model="answer" />
                    <button class="column-16" type="submit" ng-click="add_question(category.name)">Legg til spørsmål</button>
                </div>
                <div class="form-item">
                    <button class="column-16" ng-click="add_random_question(category.name)">Legg til tilfeldig spørsmål i samme kategori</button>
                </div>

            </form>
        </div>
    </div>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/concise.min.js"></script>

</body>
</html>