<!DOCTYPE html>
<html ng-app="quizApp" class="yui3-js-enabled">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/stylesheets/marketing.css">
    <!--<![endif]-->

</head>
<body ng-controller="QuestionCtrl">

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a href="" class="pure-menu-heading">Quizzy</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link" href="/quizadmin/{{quiz.quiz}}">Admin</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/quiz/{{quiz.quiz}}">Se quiz</a></li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Quizzy</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Legg til flere kategorier
                </h3>
                <p>
                    <form class="pure-form-stacked" ng-submit="add_category()">
                        <input placeholder="Kategori" ng-model="category_name" type="text" />
                        <button class="pure-button pure-button-primary" type="submit">Legg til kategori</button>
                    </form>
                    <p ng-model="status"></p>
                </p>
            </div>

        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div ng-repeat="(category,value) in quiz.categories" class="pure-u-1-3">

            <h2 class="content-head content-head-ribbon">{{category}}</h2>

                    <p>Spørsmål:</p>
                    <ol>
                        <li ng-repeat="question in quiz.categories[category]">
                            <p>{{question.question}}</p>
                            <ol type="a" ng-show="question.alternatives != null">
                                <li ng-repeat="alternative in question.alternatives">
                                    {{alternative}}
                                </li>
                            </ol>
                            <p>Fasit: {{question.answer}}</p>
                        </li>
                    </ol>
                    <h3>Legg til flere spørsmål</h3>
                    <label for="question">Spørsmål: </label><textarea rows="5" cols="50" autocomplete="off" id="question" type="text" ng-model="question"></textarea><br />

                    <form class="pure-form-stacked" ng-submit="add_alternative()"><label for="question">Alternativ: </label><input type="hidden" value="{{category}}" name="category" /><input autocomplete="off" id="alternative" type="text" ng-model="alternative" /><input type="submit" value="Legg til alternativ" /></form><br/>
                    </p>
                    <ul type="a">
                        <li ng-repeat="alternative in alternatives[category]">{{alternative}}</li>
                    </ul>
                    <button ng-show="alternatives.length > 0" ng-click="clear_alternatives(category)">Slett alternativer</button><br /><br/>

                    <label for="answer">Svar: </label><input autocomplete="off" id="answer" type="text" ng-model="answer" />

                    <input type="submit" value="Legg til spørsmål" ng-click="add_question(category)" />
                    <br />
                    <button ng-click="add_random_question(category)">Legg til tilfeldig spørsmål i samme kategori</button>

             </div>
        </div>
    </div>
</div>

<div style="position: absolute !important; visibility: hidden !important" id="yui3-css-stamp"></div>

</body>
</html>