<!DOCTYPE html>
<html ng-app="quizApp" class="yui3-js-enabled">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">

    <title></title>

    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/concise.min.css" />

</head>

<body ng-controller="UsernameCtrl">

<div class="container">
    <div class="row bg-light-blue">
        <div class="column-16">
            <h2>Quizzy</h2>
            <p>Velg brukernavn</p>
            <form class="form" ng-submit="user_submitted()">
                <div class="form-item">
                    <input ng-model="username" type="text" />
                    <button type="submit">Bekreft</button>
                </div>
            </form>
            <button ng-click="google_auth()">Bruk Google!</button>
        </div>
    </div>
</div>

</body>
</html>