<!DOCTYPE html>
<html ng-app="quizApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/controllers.js"></script>
</head>
<body ng-controller="QuestionCtrl">

<h1>Bryllupsquiz!</h1>
<img src="/images/champagne7.svg" />
<p>Velkommen til bryllupsquiz!</p>
<p>Lagnavn: ________________ </p>

    <li ng-repeat="(category,value) in quiz.categories">
        <h2>{{category}}</h2>
        <ol>
            <li ng-repeat="question in quiz.categories[category]">
                <p>{{question.question}}</p>
                <ol type="a" ng-show="question.alternatives != null">
                    <li ng-repeat="alternative in question.alternatives">
                        {{alternative}}
                    </li>
                </ol>
                <p>Fasit: {{question.answer}}</p>
            </li>
        </ol>

    </li>

</body>
</html>