<!DOCTYPE html>
<html ng-app="quizApp" class="yui3-js-enabled">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">

    <title></title>

    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/controllers.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/concise.min.css" />

</head>
<body ng-controller="QuizNameCtrl">
<div class="container">
    <div class="row bg-light-blue">
        <div class="column-16">
          <h2>Velg quiz</h2>
            <p>Ditt brukernavn er: {{username}}</p>
            <p>{{status}}</p>
            <form class="form" ng-submit="add_quiz()">
                <div class="form-item">
                    <input placeholder="Skriv navn på ny quiz her" ng-model="quiz_name" type="text" />
                    <button type="submit">Opprett ny quiz</button>
                </div>
            </form>

            <p ng-show="quizzes.length == 0">Du har ikke opprettet noen quizzer enda.</p>
            <ul>
                <li ng-repeat="quiz in quizzes">
                    <a href="/quizadmin/{{quiz.id}}">{{quiz.quiz}}</a>
                </li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>